<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <svg viewBox="0 0 80 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5615 22.25H25.4371V11.25H22.4842V17.4337L17.9998 11.25H15.1246V22.25H18.0776V16.0667L22.5615 22.25ZM5.50416 19.4905C3.98677 19.4905 2.93915 18.3714 2.93915 16.7479C2.93915 15.1244 3.98677 14.0053 5.50416 14.0053C7.02154 14.0053 8.06916 15.1286 8.06916 16.7479C8.06916 18.3671 7.02154 19.4905 5.50416 19.4905ZM5.5 22.25C8.71769 22.25 11 19.9144 11 16.7479C11 13.5814 8.71769 11.2458 5.5 11.25C2.28231 11.25 0 13.5814 0 16.7479C0 19.9144 2.28231 22.25 5.5 22.25Z" fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36 33.25H69V0.25H36V33.25Z" fill="white"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M60.0645 21.3688L57.1209 24.3125L52.5022 19.6937L47.883 24.3125L44.9395 21.3688L49.5581 16.75L44.9395 12.1307L47.883 9.1875L52.5022 13.8059L57.1209 9.1875L60.0645 12.1307L55.4458 16.75L60.0645 21.3688Z" fill="black"></path>
            </svg>
            Project</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
